{% extends 'base.html.twig' %}

{% block title %}Brow-shop:modification{% endblock %}

{% block content %}
    <h1>Modification du mot de passe</h1>
    Bienvenue dans votre espace de modification du mot de passe de  <span class ='user' >{{(app.user.firstname)}}</span>
    <hr>
    
        
        <hr>
         <a href="{{ path('account') }}">retour à mon compte</a> 
        <hr>
        {% if message %}
         <div class='alert alert-info' >{{ message }}</div>
        {% endif %}
        {{ form (form)}}
{% endblock %}